*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  color: white;
  background: repeating-linear-gradient(
    to bottom,
    #0f0a1e,
    #0f0a1e 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  );
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
