main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .petri-dish {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);

    div {
      width: 36px;
      height: 36px;
      background-color: #adadad;
      border: 2px solid #cc0000;
    }

    .cell--alive {
      background-color: #cc0000;
    }
  }
}
